.bg-aliceblue {backgrbackground-color: aliceblue;}
.bg-antiquewhite {backgrbackground-color: antiquewhite;}
.bg-aqua {backgrbackground-color: aqua;}
.bg-aquamarine {backgrbackground-color: aquamarine;}
.bg-azure {backgrbackground-color: azure;}
.bg-beige {backgrbackground-color: beige;}
.bg-bisque {backgrbackground-color: bisque;}
.bg-black {backgrbackground-color: black;}
.bg-blanchedalmond {backgrbackground-color: blanchedalmond;}
.bg-blue {backgrbackground-color: blue;}
.bg-blueviolet {backgrbackground-color: blueviolet;}
.bg-brown {backgrbackground-color: brown;}
.bg-burlywood {backgrbackground-color: burlywood;}
.bg-cadetblue {backgrbackground-color: cadetblue;}
.bg-chartreuse {backgrbackground-color: chartreuse;}
.bg-chocolate {backgrbackground-color: chocolate;}
.bg-coral {backgrbackground-color: coral;}
.bg-cornflowerblue {backgrbackground-color: cornflowerblue;}
.bg-cornsilk {backgrbackground-color: cornsilk;}
.bg-crimson {backgrbackground-color: crimson;}
.bg-cyan {backgrbackground-color: cyan;}
.bg-darkblue {backgrbackground-color: darkblue;}
.bg-darkcyan {backgrbackground-color: darkcyan;}
.bg-darkgoldenrod {backgrbackground-color: darkgoldenrod;}
.bg-darkgray {backgrbackground-color: darkgray;}
.bg-darkgrey {backgrbackground-color: darkgrey;}
.bg-darkgreen {backgrbackground-color: darkgreen;}
.bg-darkkhaki {backgrbackground-color: darkkhaki;}
.bg-darkmagenta {backgrbackground-color: darkmagenta;}
.bg-darkolivegreen {backgrbackground-color: darkolivegreen;}
.bg-darkorange {backgrbackground-color: darkorange;}
.bg-darkorchid {backgrbackground-color: darkorchid;}
.bg-darkred {backgrbackground-color: darkred;}
.bg-darksalmon {backgrbackground-color: darksalmon;}
.bg-darkseagreen {backgrbackground-color: darkseagreen;}
.bg-darkslateblue {backgrbackground-color: darkslateblue;}
.bg-darkslategray {backgrbackground-color: darkslategray;}
.bg-darkslategrey {backgrbackground-color: darkslategrey;}
.bg-darkturquoise {backgrbackground-color: darkturquoise;}
.bg-darkviolet {backgrbackground-color: darkviolet;}
.bg-deeppink {backgrbackground-color: deeppink;}
.bg-deepskyblue {backgrbackground-color: deepskyblue;}
.bg-dimgray {backgrbackground-color: dimgray;}
.bg-dimgrey {backgrbackground-color: dimgrey;}
.bg-dodgerblue {backgrbackground-color: dodgerblue;}
.bg-firebrick {backgrbackground-color: firebrick;}
.bg-floralwhite {backgrbackground-color: floralwhite;}
.bg-forestgreen {backgrbackground-color: forestgreen;}
.bg-fuchsia {backgrbackground-color: fuchsia;}
.bg-gainsboro {backgrbackground-color: gainsboro;}
.bg-ghostwhite {backgrbackground-color: ghostwhite;}
.bg-gold {backgrbackground-color: gold;}
.bg-goldenrod {backgrbackground-color: goldenrod;}
.bg-gray {backgrbackground-color: gray;}
.bg-grey {backgrbackground-color: grey;}
.bg-green {backgrbackground-color: green;}
.bg-greenyellow {backgrbackground-color: greenyellow;}
.bg-honeydew {backgrbackground-color: honeydew;}
.bg-hotpink {backgrbackground-color: hotpink;}
.bg-indianred {backgrbackground-color: indianred;}
.bg-indigo {backgrbackground-color: indigo;}
.bg-ivory {backgrbackground-color: ivory;}
.bg-khaki {backgrbackground-color: khaki;}
.bg-lavender {backgrbackground-color: lavender;}
.bg-lavenderblush {backgrbackground-color: lavenderblush;}
.bg-lawngreen {backgrbackground-color: lawngreen;}
.bg-lemonchiffon {backgrbackground-color: lemonchiffon;}
.bg-lightblue {backgrbackground-color: lightblue;}
.bg-lightcoral {backgrbackground-color: lightcoral;}
.bg-lightcyan {backgrbackground-color: lightcyan;}
.bg-lightgoldenrodyellow {backgrbackground-color: lightgoldenrodyellow;}
.bg-lightgray {backgrbackground-color: lightgray;}
.bg-lightgrey {backgrbackground-color: lightgrey;}
.bg-lightgreen {backgrbackground-color: lightgreen;}
.bg-lightpink {backgrbackground-color: lightpink;}
.bg-lightsalmon {backgrbackground-color: lightsalmon;}
.bg-lightseagreen {backgrbackground-color: lightseagreen;}
.bg-lightskyblue {backgrbackground-color: lightskyblue;}
.bg-lightslategray {backgrbackground-color: lightslategray;}
.bg-lightslategrey {backgrbackground-color: lightslategrey;}
.bg-lightsteelblue {backgrbackground-color: lightsteelblue;}
.bg-lightyellow {backgrbackground-color: lightyellow;}
.bg-lime {backgrbackground-color: lime;}
.bg-limegreen {backgrbackground-color: limegreen;}
.bg-linen {backgrbackground-color: linen;}
.bg-magenta {backgrbackground-color: magenta;}
.bg-maroon {backgrbackground-color: maroon;}
.bg-mediumaquamarine {backgrbackground-color: mediumaquamarine;}
.bg-mediumblue {backgrbackground-color: mediumblue;}
.bg-mediumorchid {backgrbackground-color: mediumorchid;}
.bg-mediumpurple {backgrbackground-color: mediumpurple;}
.bg-mediumseagreen {backgrbackground-color: mediumseagreen;}
.bg-mediumslateblue {backgrbackground-color: mediumslateblue;}
.bg-mediumspringgreen {backgrbackground-color: mediumspringgreen;}
.bg-mediumturquoise {backgrbackground-color: mediumturquoise;}
.bg-mediumvioletred {backgrbackground-color: mediumvioletred;}
.bg-midnightblue {backgrbackground-color: midnightblue;}
.bg-mintcream {backgrbackground-color: mintcream;}
.bg-mistyrose {backgrbackground-color: mistyrose;}
.bg-moccasin {backgrbackground-color: moccasin;}
.bg-navajowhite {backgrbackground-color: navajowhite;}
.bg-navy {backgrbackground-color: navy;}
.bg-oldlace {backgrbackground-color: oldlace;}
.bg-olive {backgrbackground-color: olive;}
.bg-olivedrab {backgrbackground-color: olivedrab;}
.bg-orange {backgrbackground-color: orange;}
.bg-orangered {backgrbackground-color: orangered;}
.bg-orchid {backgrbackground-color: orchid;}
.bg-palegoldenrod {backgrbackground-color: palegoldenrod;}
.bg-palegreen {backgrbackground-color: palegreen;}
.bg-paleturquoise {backgrbackground-color: paleturquoise;}
.bg-palevioletred {backgrbackground-color: palevioletred;}
.bg-papayawhip {backgrbackground-color: papayawhip;}
.bg-peachpuff {backgrbackground-color: peachpuff;}
.bg-peru {backgrbackground-color: peru;}
.bg-pink {backgrbackground-color: pink;}
.bg-plum {backgrbackground-color: plum;}
.bg-powderblue {backgrbackground-color: powderblue;}
.bg-purple {backgrbackground-color: purple;}
.bg-rebeccapurple {backgrbackground-color: rebeccapurple;}
.bg-red {backgrbackground-color: red;}
.bg-rosybrown {backgrbackground-color: rosybrown;}
.bg-royalblue {backgrbackground-color: royalblue;}
.bg-saddlebrown {backgrbackground-color: saddlebrown;}
.bg-salmon {backgrbackground-color: salmon;}
.bg-sandybrown {backgrbackground-color: sandybrown;}
.bg-seagreen {backgrbackground-color: seagreen;}
.bg-seashell {backgrbackground-color: seashell;}
.bg-sienna {backgrbackground-color: sienna;}
.bg-silver {backgrbackground-color: silver;}
.bg-skyblue {backgrbackground-color: skyblue;}
.bg-slateblue {backgrbackground-color: slateblue;}
.bg-slategray {backgrbackground-color: slategray;}
.bg-slategrey {backgrbackground-color: slategrey;}
.bg-snow {backgrbackground-color: snow;}
.bg-springgreen {backgrbackground-color: springgreen;}
.bg-steelblue {backgrbackground-color: steelblue;}
.bg-tan {backgrbackground-color: tan;}
.bg-teal {backgrbackground-color: teal;}
.bg-thistle {backgrbackground-color: thistle;}
.bg-tomato {backgrbackground-color: tomato;}
.bg-turquoise {backgrbackground-color: turquoise;}
.bg-violet {backgrbackground-color: violet;}
.bg-wheat {backgrbackground-color: wheat;}
.bg-white {backgrbackground-color: white;}
.bg-whitesmoke {backgrbackground-color: whitesmoke;}
.bg-yellow {backgrbackground-color: yellow;}
.bg-yellowgreen {backgrbackground-color: yellowgreen;}
