.opc0 {opacity: 0;}
.opc0.01 {opacity: 0.01;}
.opc0.02 {opacity: 0.02;}
.opc0.03 {opacity: 0.03;}
.opc0.04 {opacity: 0.04;}
.opc0.05 {opacity: 0.05;}
.opc0.06 {opacity: 0.06;}
.opc0.07 {opacity: 0.07;}
.opc0.08 {opacity: 0.08;}
.opc0.09 {opacity: 0.09;}
.opc0.1 {opacity: 0.1;}
.opc0.11 {opacity: 0.11;}
.opc0.12 {opacity: 0.12;}
.opc0.13 {opacity: 0.13;}
.opc0.14 {opacity: 0.14;}
.opc0.15 {opacity: 0.15;}
.opc0.16 {opacity: 0.16;}
.opc0.17 {opacity: 0.17;}
.opc0.18 {opacity: 0.18;}
.opc0.19 {opacity: 0.19;}
.opc0.2 {opacity: 0.2;}
.opc0.21 {opacity: 0.21;}
.opc0.22 {opacity: 0.22;}
.opc0.23 {opacity: 0.23;}
.opc0.24 {opacity: 0.24;}
.opc0.25 {opacity: 0.25;}
.opc0.26 {opacity: 0.26;}
.opc0.27 {opacity: 0.27;}
.opc0.28 {opacity: 0.28;}
.opc0.29 {opacity: 0.29;}
.opc0.3 {opacity: 0.3;}
.opc0.31 {opacity: 0.31;}
.opc0.32 {opacity: 0.32;}
.opc0.33 {opacity: 0.33;}
.opc0.34 {opacity: 0.34;}
.opc0.35 {opacity: 0.35;}
.opc0.36 {opacity: 0.36;}
.opc0.37 {opacity: 0.37;}
.opc0.38 {opacity: 0.38;}
.opc0.39 {opacity: 0.39;}
.opc0.4 {opacity: 0.4;}
.opc0.41 {opacity: 0.41;}
.opc0.42 {opacity: 0.42;}
.opc0.43 {opacity: 0.43;}
.opc0.44 {opacity: 0.44;}
.opc0.45 {opacity: 0.45;}
.opc0.46 {opacity: 0.46;}
.opc0.47 {opacity: 0.47;}
.opc0.48 {opacity: 0.48;}
.opc0.49 {opacity: 0.49;}
.opc0.5 {opacity: 0.5;}
.opc0.51 {opacity: 0.51;}
.opc0.52 {opacity: 0.52;}
.opc0.53 {opacity: 0.53;}
.opc0.54 {opacity: 0.54;}
.opc0.55 {opacity: 0.55;}
.opc0.56 {opacity: 0.56;}
.opc0.57 {opacity: 0.57;}
.opc0.58 {opacity: 0.58;}
.opc0.59 {opacity: 0.59;}
.opc0.6 {opacity: 0.6;}
.opc0.61 {opacity: 0.61;}
.opc0.62 {opacity: 0.62;}
.opc0.63 {opacity: 0.63;}
.opc0.64 {opacity: 0.64;}
.opc0.65 {opacity: 0.65;}
.opc0.66 {opacity: 0.66;}
.opc0.67 {opacity: 0.67;}
.opc0.68 {opacity: 0.68;}
.opc0.69 {opacity: 0.69;}
.opc0.7 {opacity: 0.7;}
.opc0.71 {opacity: 0.71;}
.opc0.72 {opacity: 0.72;}
.opc0.73 {opacity: 0.73;}
.opc0.74 {opacity: 0.74;}
.opc0.75 {opacity: 0.75;}
.opc0.76 {opacity: 0.76;}
.opc0.77 {opacity: 0.77;}
.opc0.78 {opacity: 0.78;}
.opc0.79 {opacity: 0.79;}
.opc0.8 {opacity: 0.8;}
.opc0.81 {opacity: 0.81;}
.opc0.82 {opacity: 0.82;}
.opc0.83 {opacity: 0.83;}
.opc0.84 {opacity: 0.84;}
.opc0.85 {opacity: 0.85;}
.opc0.86 {opacity: 0.86;}
.opc0.87 {opacity: 0.87;}
.opc0.88 {opacity: 0.88;}
.opc0.89 {opacity: 0.89;}
.opc0.9 {opacity: 0.9;}
.opc0.91 {opacity: 0.91;}
.opc0.92 {opacity: 0.92;}
.opc0.93 {opacity: 0.93;}
.opc0.94 {opacity: 0.94;}
.opc0.95 {opacity: 0.95;}
.opc0.96 {opacity: 0.96;}
.opc0.97 {opacity: 0.97;}
.opc0.98 {opacity: 0.98;}
.opc0.99 {opacity: 0.99;}
.opc1 {opacity: 1;}
